<div class="inner-main">
    <div class="inner-content">
        <div class="container-fluid">
            <div class="row">
                <router-outlet></router-outlet>
                <div class="col-3">
                    <div class="white-block add-content-sidebar mat-elevation-z2 mt-4 mb-5">
                        <mat-nav-list>
                            <a mat-list-item [routerLink] = "['/forms/formcreate']" (click)="formSelect('information')" [ngClass]="formInfomation ? 'active':''">
                                <h3 matLine>Form Information</h3>
                            </a>
                            <!-- <mat-divider></mat-divider>
                            <a mat-list-item (click)="formSelect('formFields')" [ngClass]="formFields ? 'active':''">
                                <h3 matLine> <a [routerLink] = "['/formfield/create']">Form Fields </a></h3>
                            </a>
                            <mat-divider></mat-divider>
                            <a mat-list-item (click)="formSelect('formNotification')" [ngClass]="formNotification ? 'active':''">
                                <h3 matLine> <a [routerLink] = "">Form Notification </a></h3>
                            </a> -->
                        </mat-nav-list>
                    </div>
                </div>
                <div class="col-7" *ngIf="formInfomation == true">
                    <div class="white-block mat-elevation-z2 mt-4 mb-5">
                        <form class="example-form" [formGroup] = "formName" (ngSubmit) = "FormNameSubmit()">
                            <div class="row">
                              <h4 matLine>Form Information</h4>
                                <mat-form-field>
                                    <input type ="text" name ="form_name_txt" id = "form_name_id" formControlName="form_name_txt" matInput placeholder=" Form Name">
                                    <mat-error *ngIf = "formName.controls['form_name_txt'].hasError('required')">this is required</mat-error>
                                    <mat-hint class="error">{{msg}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-12" style="margin-left:-30px;">
                              <button mat-raised-button color="primary" [disabled]="formName.invalid">Submit</button>
                              <button mat-raised-button class="ml-3" color="warn" [routerLink] = "['/forms/formlist']">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>