<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 product-detail">
            <div class="white-block mat-elevation-z3 mt-4 mb-0 p-0">
                <div class="table-top">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>List Forms</h3>
                            <span>All Forms Data</span>
                        </div>
  
                        <div class="col-lg-6 text-right">
                            <!-- <button mat-raised-button color="warn">Delete All</button> -->
                            <button mat-icon-button>
                                <mat-icon >help_outline</mat-icon>
                            </button>
                            <button mat-icon-button>
                                    <mat-icon >filter_list</mat-icon>
                                </button>
                            <button mat-icon-button>
                                <mat-icon >get_app</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="fixed-action-btn1 ">
                    <button mat-fab color="warn" routerLink="/forms/formcreate" routerLinkActive="list-item-active" class="add-cart-button">
                        <i class="material-icons">add</i>
                    </button>
                </div>
                <div class="datatable-box ">
                    <table mat-table class="my-table" matSort [dataSource]="dataSource">
  
                        <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox>
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox>
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- Position Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let element "> {{element.id}} </td>
                        </ng-container>
  
                        <!-- Name Column -->
                        <ng-container matColumnDef="FormName">
                            <th mat-header-cell *matHeaderCellDef>Form Name</th>
                            <td mat-cell *matCellDef="let element ">{{element.form_name}}</td>
                        </ng-container>
  
                        <ng-container matColumnDef="InsertDate">
                            <th mat-header-cell *matHeaderCellDef>Insert Date</th>
                            <td mat-cell *matCellDef="let element "> {{element.created_at}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="UpdateDate">
                            <th mat-header-cell *matHeaderCellDef> Update Date </th>
                            <td mat-cell *matCellDef="let element "> {{element.updated_at}} </td>
                        </ng-container>
  
                        <!-- Weight Column -->
                        
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element ">
                              <button mat-icon-button mat-sm-button color="primary" class="mr-1"><mat-icon><a [routerLink] = "['/forms/formedit',element.id]">edit</a></mat-icon></button>
                              <button mat-icon-button mat-sm-button color="warn" (click)="openDialog(element.id)"><mat-icon>delete</mat-icon></button>
                          </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div class="table-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            <span>Row per page: 50 <i class="material-icons">arrow_drop_down</i></span>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span>1 - 5 of 20</span>
                            <button mat-icon-button><i class="material-icons">first_page</i></button>
                            <button mat-icon-button><i class="material-icons">chevron_left</i></button>
                            <button mat-icon-button><i class="material-icons">chevron_right</i></button>
                            <button mat-icon-button><i class="material-icons">last_page</i></button>
                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>
                    </div>
  
                </div>
            </div>
        </div>
    </div>
  </div>