    <div class="sidenav-logo">
        <span><img src="assets/images/logo-side.png" ></span>
    </div>
    <div class="side-nav">
        <mat-nav-list>
            <mat-list-item routerLink="/" routerLinkActive="list-item-active">
                <mat-icon>home</mat-icon>
                Dashboard
            </mat-list-item>
            <mat-list-item routerLink="/" routerLinkActive="list-item-active">
                <mat-icon>home</mat-icon>
                Catalog
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="#" routerLinkActive="list-item-active">
                <mat-icon>settings</mat-icon>
                Sales
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="#" routerLinkActive="list-item-active">
                <mat-icon>content_paste</mat-icon>
                Buyer
            </mat-list-item>
        </mat-nav-list>
    </div>


