<div class="inner-main">
    <div class="inner-content">
        <div class="container-fluid">
          <div class="row">
            <router-outlet></router-outlet>
            <div class="col-3">
                <div class="white-block add-content-sidebar mat-elevation-z2 mt-4 mb-5">
                    <mat-nav-list>
                        <a mat-list-item (click)="formSelect('information')" [ngClass]="formInfomation ? 'active':''">
                          <h3 matLine> <a [routerLink] = "['/forms/formedit',formId]">Form Information </a></h3>
                        </a>
                        <mat-divider></mat-divider>
                        <a mat-list-item  (click)="formSelect('formFields')" [ngClass]="formFields ? 'active':''">
                          <h3 matLine> <a [routerLink] = "['/forms/formfieldcreate',formId]">Form Fields </a></h3>
                        </a>
                        <mat-divider></mat-divider>
                        <a mat-list-item   (click)="formSelect('formNotification')" [ngClass]="formNotification ? 'active':''">
                          <h3 matLine> <a [routerLink] = "['/forms/formnotificationcreate',formId]">Form Notification </a></h3>
                        </a>
                    </mat-nav-list>
                </div>
            </div>
            <div class="col-7">
                    <div class="white-block mat-elevation-z2 mt-4 mb-5">
                        <form class="example-form" [formGroup] = "formFields" (ngSubmit) = "formFieldsSubmit()" >
                        <div class="row">
                          <h4 matLine>Form Fields</h4>
                          <mat-form-field style="display: none;">
                              <input type ="text" name = "form_id" id = "form_id" value = {{formId}} formControlName = "form_id" matInput placeholder = "Form Id">
                              <mat-error *ngIf = "formFields.controls['form_id'].hasError('required')">this is required</mat-error>
                          </mat-form-field>
  
                          <mat-form-field>
                            <input type ="text"  name = "field_label_txt" id = "field_label_id" formControlName = "field_label_txt" matInput placeholder = "Field Label">
                            <mat-error *ngIf = "formFields.controls['field_label_txt'].hasError('required')">this is required</mat-error>
                          </mat-form-field>
  
                          <mat-form-field>
                            <input type ="text" name = "field_name_txt" id = "field_name_id" formControlName = "field_name_txt" matInput placeholder = "Field Name">
                            <mat-error *ngIf = "formFields.controls['field_name_txt'].hasError('required')">this is required</mat-error>
                            <mat-error *ngIf = "formFields.controls['field_name_txt'].hasError('pattern')">No Spaces Allowed</mat-error>
                            <mat-hint class="error">{{msg}}</mat-hint>
                          </mat-form-field>
  
                          <mat-form-field>
                            <mat-label >Field Type</mat-label >
                            <mat-select name = "field_type_sel" id = "field_type_id" formControlName = "field_type_sel" (selectionChange) = "onChange($event)">
                                <mat-option value="text">Text</mat-option>
                                <mat-option value="selection">Selection</mat-option>
                                <mat-option value="radio">Radio</mat-option>
                                <mat-option value="checkBox">CheckBox</mat-option>
                            </mat-select>
                            <mat-error *ngIf = "formFields.controls['field_type_sel'].hasError('required')">this is required</mat-error>
                          </mat-form-field>
  
                          <mat-label>Is Required</mat-label>
                          <mat-radio-group  name = "is_required_radio" formControlName = "is_required_radio">
                            <mat-radio-button value ="1" id ="yes" class="ml-3">Yes</mat-radio-button>
                            <mat-radio-button value ="0" id = "no" class="ml-3">No</mat-radio-button>
                           
                          </mat-radio-group>
  
                          <mat-form-field *ngIf="showDefaultValue">
                            <input type ="text" name = "default_value_txt" id = "default_value_id" formControlName = "default_value_txt" matInput placeholder = "Default value">
                            <mat-error *ngIf = "formFields.controls['default_value_txt'].hasError('required')">this is required</mat-error>
                          </mat-form-field>
  
                          <mat-form-field *ngIf="showLength">
                            <input type ="text" name = "length_txt" id = "length_id" formControlName = "length_txt" matInput placeholder = "Length">
                            <mat-error *ngIf = "formFields.controls['length_txt'].hasError('required')">this is required</mat-error>
                            <mat-error *ngIf = "formFields.controls['length_txt'].hasError('pattern')">Integer Only Allowed</mat-error>
                            <mat-error *ngIf = "formFields.controls['length_txt'].hasError('max')">Maxima length Is 255</mat-error>
                          </mat-form-field>
  
                          <mat-form-field *ngIf="showValue">
                            <textarea rows="5" type = "textarea" name = "value_textarea" id = "value_id" formControlName = "value_textarea" matInput placeholder="Enter Value"></textarea>
                            <mat-error *ngIf = "formFields.controls['value_textarea'].hasError('required')">this is required</mat-error>
                          </mat-form-field>
                        </div>
  
                          <div class="col-12" style="margin-left: -30px;">
                            <button mat-raised-button color="primary">Submit</button>
                            <button mat-raised-button class="ml-3" color="warn" [routerLink] = "['/forms/formfieldlist']">Cancel</button>
                          </div>
                        </form>
                    </div>
  
                    <div class="row justify-content-center test-scrollbar-error">
                        <div class="col-md-12 product-detail">
                          <div class="white-block mat-elevation-z3 mt-4 mb-0 p-0">
                              <div class="table-top">
                                  <div class="row">
                                      <div class="col-lg-6">
                                          <h3>List Form Field</h3>
                                          <span>All Form Fields Data</span>
                                      </div>
                
                                      <div class="col-lg-6 text-right">
                                          <!-- <button mat-raised-button color="warn">Delete All</button> -->
                                          <button mat-icon-button>
                                              <mat-icon >help_outline</mat-icon>
                                          </button>
                                          <button mat-icon-button>
                                                  <mat-icon >filter_list</mat-icon>
                                              </button>
                                          <button mat-icon-button>
                                              <mat-icon >get_app</mat-icon>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                              <!-- <div class="fixed-action-btn1 ">
                                  <button mat-fab color="warn" routerLink="['/formfield/create',formId]" routerLinkActive="list-item-active" class="add-cart-button">
                                      <i class="material-icons">add</i>
                                  </button>
                              </div> -->
                              <div class="datatable-box ">
                                  <table mat-table class="my-table" matSort [dataSource]="dataSource">
                
                                      <!--- Note that these columns can be defined in any order.
                                                The actual rendered columns are set as a property on the row definition" -->
                                      <ng-container matColumnDef="select">
                                          <th mat-header-cell *matHeaderCellDef>
                                              <mat-checkbox>
                                              </mat-checkbox>
                                          </th>
                                          <td mat-cell *matCellDef="let element">
                                              <mat-checkbox>
                                              </mat-checkbox>
                                          </td>
                                      </ng-container>
                                      <!-- Position Column -->
                                      <ng-container matColumnDef="ID">
                                          <th mat-header-cell *matHeaderCellDef> ID </th>
                                          <td mat-cell *matCellDef="let element "> {{element.id}} </td>
                                      </ng-container>
                                      
                                      <!-- Name Column -->
                                      <ng-container matColumnDef="FormId">
                                        <th mat-header-cell *matHeaderCellDef>Form Id</th>
                                        <td mat-cell *matCellDef="let element ">{{element.form_id}}</td>
                                     </ng-container>
                
                                    <ng-container matColumnDef="FieldLabel">
                                      <th mat-header-cell *matHeaderCellDef>Field Label</th>
                                      <td mat-cell *matCellDef="let element "> {{element.field_label}} </td>
                                    </ng-container>
  
                                    <ng-container matColumnDef="FormName">
                                        <th mat-header-cell *matHeaderCellDef>Form Name</th>
                                        <td mat-cell *matCellDef="let element ">{{element.field_name}}</td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="FieldType">
                                        <th mat-header-cell *matHeaderCellDef> Field Type </th>
                                        <td mat-cell *matCellDef="let element "> {{element.field_type}} </td>
                                    </ng-container>
              
                                    <ng-container matColumnDef="Required" >
                                      <th mat-header-cell *matHeaderCellDef> Required </th>
                                      <td mat-cell *matCellDef="let element">
                                        {{ (element.is_required == 1)? 'Yes':'No'}}
                                      </td>
                                    </ng-container>
               
                                    <ng-container matColumnDef="DefaultValue">
                                        <th mat-header-cell *matHeaderCellDef> Default Value </th>
                                        <td mat-cell *matCellDef="let element "> {{element.default_value}} </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="Length">
                                        <th mat-header-cell *matHeaderCellDef> Length </th>
                                        <td mat-cell *matCellDef="let element "> {{element.length}} </td>
                                    </ng-container>
  
                                    
                                    <ng-container matColumnDef="Value" >
                                      <th mat-header-cell *matHeaderCellDef> Value </th>
                                      <td mat-cell *matCellDef="let element">
                                        <p *ngIf="element.field_type !== 'text' " ><a [routerLink] = "['/forms/formfield/valueedit',formId,element.id]">View</a></p>
                                      </td>
                                    </ng-container>
                                    
                                      <!-- Weight Column -->
                                      
                                      <ng-container matColumnDef="Action">
                                          <th mat-header-cell *matHeaderCellDef> Action </th>
                                          <td mat-cell *matCellDef="let element ">
                                            <button mat-icon-button mat-sm-button color="primary" class="mr-1"><mat-icon><a (click) = "formFieldEditId(element.id)" [routerLink] = "['/forms/formfieldedit',formId,element.id]">edit</a></mat-icon></button>
                                            <button mat-icon-button mat-sm-button color="warn" (click)="openDialog(element.id)"><mat-icon>delete</mat-icon></button>
                                          </td>
                                      </ng-container>
                
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                              </div>
                              <div class="table-footer">
                                  <div class="row">
                                      <div class="col-lg-6">
                                          <span>Row per page: 50 <i class="material-icons">arrow_drop_down</i></span>
                                      </div>
                                      <div class="col-lg-6 text-right">
                                          <span>1 - 5 of 20</span>
                                          <button mat-icon-button><i class="material-icons">first_page</i></button>
                                          <button mat-icon-button><i class="material-icons">chevron_left</i></button>
                                          <button mat-icon-button><i class="material-icons">chevron_right</i></button>
                                          <button mat-icon-button><i class="material-icons">last_page</i></button>
                                          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                                      </div>
                                  </div>
                
                              </div>
                          </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  